node_modules/
out/
dist/
.vscode-test/
*.vsix

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage/
.cache/

.tmp/
*.tmp
*.temp

out/
fixtures-local/
*.tsbuildinfo

.DS_Store
Thumbs.db

fixtures-local/

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json